@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?jf5jjz');
  src:  url('fonts/icomoon.eot?jf5jjz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?jf5jjz') format('truetype'),
    url('fonts/icomoon.woff?jf5jjz') format('woff'),
    url('fonts/icomoon.svg?jf5jjz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play:before {
  content: "\e912";
}
.icon-mail4:before {
  content: "\ea86";
}
.icon-google3:before {
  content: "\ea8a";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-youtube2:before {
  content: "\ea9e";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-windows8:before {
  content: "\eac2";
}
.icon-skype:before {
  content: "\eac5";
}
.icon-linkedin:before {
  content: "\eac9";
}
